<div class="container">
  <div class="cocktail_container">

    <h1>Cocktails List</h1>

    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus"></i>
    <% end %>

      <div class="cards">
        <% @cocktails.each do |cocktail| %>
          <div class="card">
              <%= link_to cocktail_path(cocktail) do %>
                <i class="fas fa-info"></i>
              <% end %>
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>

      <% @cocktails.each do |cocktail| %>
      <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_tag cocktail.photo, height: 300, width: 300, crop: :fill %>')">

        <div class="card-category">Popular</div>

        <div class="card-description">
          <%= link_to cocktail_path(cocktail) do %>
            <i class="fas fa-info"></i>
          <% end %>
            <%= cocktail.name %>
        </div>
        <a class="card-link" href="#" ></a>
      </div>

      <% end %>

      <% raise %>

  </div>
</div>
