<div class="navbar-cocktail">
  <!-- Logo -->
  <div class="navbar-cocktail-brand">
  <a href="https://vinepair.com/spirits-101/history-of-the-cocktail/"><i class="fas fa-lightbulb"></i></a>
  <%= link_to cocktails_path do %>
    <i class="fas fa-list" style="margin-left: 7px"></i>
  <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-cocktail-right hidden-xs hidden-sm">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-cocktail-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
        </ul>
      </div>
    </div>
  </div>

  <a href="https://tailbook.herokuapp.com/cocktails" style="color: black">Tailbook</a>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-cocktail-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
      </ul>
    </div>
  </div>
</div>



<div class="container">
  <div class="cocktail_container">
    <h1>Your original cocktail</h1>

    <div class="form">
      <%= simple_form_for @cocktail do |f| %>

      <div class="form-group">
        <%= f.input :name,  label: "Cocktail is called as", placeholder: "Give an unique name" %>
      </div>

      <div class="form-group">
        <%= f.input :photo, label: "Cocktail pic here" %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>

      <div class="form-group">
        <%= f.button :submit, "Create now", class: 'btn-danger' %>
      </div>

      <% end %>
  </div>
  </div>
</div>
