<div class="container">
  <div class="cocktail_container">
    <h1>Your original cocktail</h1>
    <%= link_to cocktails_path do %>
      <i class="fas fa-list"></i>
    <% end %>

    <div class="form">
      <%= simple_form_for @cocktail do |f| %>

      <div class="form-group">
        <%= f.input :name,  label: "Cocktail is called as", placeholder: "Give an unique name" %>
      </div>

      <div class="form-group">
        <%= f.input :image, as: :file, label: "Cocktail pic here" %>
      </div>

      <div class="form-group">
        <%= f.button :submit, "Create now", class: 'btn-danger' %>
      </div>

      <% end %>
  </div>
  </div>
</div>
