<div class="container">
  <div class="cocktail_container">

  <h1>About <%= @cocktail.name %></h1>

  <div class="icons">
  <div class="icon">
    <%= link_to cocktails_path do %>
      <i class="fas fa-list"></i>
    <% end %>
  </div>
  <div class="icon">
    <%= link_to new_cocktail_dose_path(@cocktail) do %>
      <i class="fas fa-book"></i>
    <% end %>
  </div>

  </div>

  <div class="cards">

  <div class="card">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
  </div>

  <div class="card">
    <h5>"Hidden ingredients"</h5>

      <% if @cocktail.doses.empty? %>
      <p>nothing...</p>
      <p> -
      <%= link_to new_cocktail_dose_path(@cocktail) do %>
        Add
      <% end %>
      recipe -
      </p>

      <% else %>

      <% @cocktail.doses.each do |dose| %>
        <p>
        <%= dose.ingredient.name %> -
        <%= dose.description %> -
          <%= link_to dose_path(dose),
          method: :delete, data: { confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </p>
        <% end %>
      <% end %>
  </div>
</div>

  </div>
</div>
