<div class="navbar-cocktail">
  <!-- Logo -->
  <div class="navbar-cocktail-brand">
  <a href="https://vinepair.com/spirits-101/history-of-the-cocktail/"><i class="fas fa-lightbulb"></i></a>
  <%= link_to cocktails_path do %>
    <i class="fas fa-list" style="margin-left: 7px"></i>
  <% end %>
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
      <i class="fas fa-book" style="margin-left: 7px"></i>
  <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-cocktail-right hidden-xs hidden-sm">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-cocktail-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
        </ul>
      </div>
    </div>
  </div>

  <a href="https://tailbook.herokuapp.com/cocktails" style="color: black">Tailbook</a>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-cocktail-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="cocktail_container">

  <h1>About <%= @cocktail.name %></h1>

  <div class="icons">
  <div class="icon">

  </div>

  </div>

  <div class="cards">

  <div class="card" id="show-img">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
  </div>

  <div class="card" id="show-card">
    <h5>"Hidden ingredients"</h5>

      <% if @cocktail.doses.empty? %>
      <h6><strong>nothing ...</strong></h6>
      <p> -
      <%= link_to new_cocktail_dose_path(@cocktail) do %>
        Add recipe
      <% end %>
      -
      </p>

      <% else %>

      <% @cocktail.doses.each do |dose| %>
        <p>
        <%= dose.ingredient.name %> -
        <%= dose.description %> -
          <%= link_to dose_path(dose),
          method: :delete, data: { confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </p>
        <% end %>
      <% end %>
  </div>
</div>

  </div>
</div>
